/* ============================ */
/* ==========Header============ */
/* ============================ */
.header {
    width: 100%;
    height: calc(min(10vh, 8rem));
    color: var(--text-color);
    background-color: var(--color-accent);
    position: sticky;
    top: 0;
    z-index: 10;
}

.header .content {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header #header-logo a {
    font-size: 3rem;
}

.header .search form {
    display: flex;
}

.header .search label {
    position: absolute;
    left: -999999px;
}

.header .search input {
    width: 40rem;
    height: 4rem;
    padding: 1rem;
    font-size: 1.5rem;
    border: var(--border-width) solid #000000;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.header .search button {
    height: 4rem;
    width: 4rem;
    background-color: var(--color-btn);
    border: var(--border-width) solid #000000;
    border-left: none;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    display: grid;
    cursor: pointer;
}

.header .search button:hover {
    background-color: var(--color-btn-hover);
}

.header .search img {
    height: 1.5rem;
    place-self: center;
    filter: invert(1);
}

.header ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.header ul li {
    margin: 0 1rem;
}

.header ul li button {
    height: 2rem;
    padding: 0.1rem;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.header ul li button img,
.header ul li button svg {
    height: 3rem;
    width: 3rem;
}

.header ul li button img#explore-dropdown {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.2rem 0 0 0.5rem;
}

/* ============================ */
/* ============Main============ */
/* ============================ */
main {
    background-color: var(--color-bg);
}

main .content {
    width: 80%;
    min-height: 80vh;
    margin: 10rem auto;
    height: 100%;
    overflow: hidden;
    border: var(--border-width) solid #000;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .content h1 {
    font-size: 3rem;
    margin: 2rem;
}

main .content .questions {
    width: 90%;
}

main .content .questions form {
    font-size: 1.5rem;
    line-height: 1.25;
    font-family: 'Roboto', sans-serif;
}

main .content .questions form fieldset {
    padding: 2rem;
    border-radius: var(--border-radius);
}

main .content .questions form legend {
    font-size: 1.5rem;
}

main .content .questions button {
    height: 4rem;
    width: 10rem;
    margin: 2rem 0;
    background-color: var(--color-btn);
    border: var(--border-width) solid #000000;
    border-radius: var(--border-radius);
    cursor: pointer;
}

main .content .questions button:hover {
    background-color: var(--color-btn-hover);
}

.loader {
    width: 100%;
    height: 10px;
    margin: 0 auto;
    border-radius: 10px;
    border: 3px solid transparent;
    position: relative;
    padding: 1px;
}

.loader:before {
    content: '';
    border: 3px solid #ccedd5;
    border-radius: 10px;
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
}

.loader .loaderBar {
    position: absolute;
    border-radius: 10px;
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    background: #6ccb94;
    width: 0;
    animation: borealisBar 3s linear infinite;
}

@keyframes borealisBar {
    0% {
        left: 0%;
        right: 100%;
        width: 0%;
    }
    10% {
        left: 0%;
        right: 75%;
        width: 25%;
    }
    90% {
        right: 0%;
        left: 75%;
        width: 25%;
    }
    100% {
        left: 100%;
        right: 0%;
        width: 0%;
    }
}


/* ============================ */
/* ============Footer========== */
/* ============================ */

.footer {
    width: 100%;
    height: calc(min(20vh, 11rem));
    color: var(--text-color);
    background-color: var(--color-accent);
    position: sticky;
    top: 0;
    z-index: 10;
}

.footer .content {
    width: 80%;
    height: 100%;
    font-size: 1.5rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer .content .left ul,
.footer .content .right ul {
    list-style: none;
}
