/* ============================ */
/* ==========Header============ */
/* ============================ */
.header {
    width: 100%;
    height: calc(min(10vh, 8rem));
    background-color: var(--color-accent);
    position: sticky;
    top: 0;
    z-index: 10;
}

.header .content {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    color: var(--text-color);
    font-size: 3rem;
}

.header .search form {
    display: flex;
}

.header .search label {
    position: absolute;
    left: -999999px;
}

.header .search input {
    width: 40rem;
    height: 4rem;
    padding: 1rem;
    font-size: 1.5rem;
    border: var(--border-width) solid #000000;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.header .search button {
    height: 4rem;
    width: 4rem;
    background-color: var(--color-btn);
    border: var(--border-width) solid #000000;
    border-left: none;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    display: grid;
    cursor: pointer;
}

.header .search button:hover {
    background-color: var(--color-btn-hover);
}

.header .search img {
    height: 1.5rem;
    place-self: center;
    filter: invert(1);
}

.header ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.5rem;
}

.header ul li {
    margin: 0 1rem;
}

/* ============================ */
/* ==========Hero============== */
/* ============================ */
#hero {
    height: calc(min(100vh, 70rem));
    background-color: var(--color-bg);
}

#hero .content {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

#hero .content .left {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero .content .left p {
    width: 75%;
    font-size: 2rem;
}

#hero .content .left button {
    width: 15rem;
    height: 4rem;
    padding: 1rem;
    border: var(--border-width) solid #000000;
    background-color: var(--color-btn);
    border-radius: var(--border-radius);
}

#hero .content .left button:hover {
    background-color: var(--color-btn-hover);
}

#hero .content .right {
    height: 90%;
    flex-grow: 1;
    position: relative;
}

#hero .hero-image {
    width: 30rem;
    position: absolute;
}

#hero .image1 {
    right: 0rem;
    top: 2rem;
}

#hero .image2 {
    left: 0rem;
    bottom: 10rem;
}

#hero .hero-image img {
    width: 100%;
    height: 100%;
}

/* ============================ */
/* ==========Courses=========== */
/* ============================ */

#courses {
    background-color: var(--color-bg);
}

#courses>.content {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

#courses>.content .heading h2 {
    font-size: 3rem;
}

#courses .tags .list>ul#tags-list {
    width: fit-content;
    list-style: none;
    display: flex;
    gap: 2rem;
    transition: transform 0.5s;
}

#courses .tags {
    width: 100%;
    height: 7rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#courses .tags>.list {
    width: 85%;
    overflow: hidden;
}

#courses .tags>.scroll-btn {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: grid;
    cursor: pointer;
    background-color: var(--color-btn);
    border: var(--border-width) solid #000000;
}

#courses .tags>.scroll-btn:hover {
    background-color: var(--color-btn-hover);
}

#courses .tags>.scroll-btn:hover img {
    filter: invert(1);
}

#courses .tags #tags-scroll-right {
    transform: scale(-1);
}

#courses .tags .scroll-btn img {
    width: 50%;
    place-self: center;
}

#courses .tags ul>li>button {
    height: 4rem;
    min-width: 10rem;
    padding: 0 1rem;
    font-size: 1.5rem;
    text-wrap: nowrap;
    background-color: var(--color-btn);
    border: var(--border-width) solid #000000;
    border-radius: var(--border-radius);
    cursor: pointer;
}

#courses .tags ul>li>button:hover {
    color: #ffffff;
    background-color: var(--color-btn-hover);
}

#courses .cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    user-select: none;
}

#courses .cards .list {
    width: 85%;
    overflow: hidden;
}

#courses .cards .list #list {
    display: flex;
    gap: 2rem;
    transition: transform 0.5s;
    margin: 1rem;
}

#courses .cards .list .card {
    min-width: calc(max(20vw, 30rem));
    max-width: calc(max(20vw, 30rem));
    aspect-ratio: 1 / 1;
    border: var(--border-width) solid #000000;
    border-radius: var(--border-radius);
    overflow: hidden;
}

#courses .cards .list .card:hover {
    box-shadow: var(--shadow);
}

#courses .cards .card>.top {
    width: 100%;
    height: 50%;

}

#courses .cards .card>.top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#courses .cards .card>.bottom {
    width: 100%;
    height: 40%;
    padding: 1rem;
}

#courses .cards .card>.bottom .title {
    font-size: 2rem;
}

#courses .cards .card>.bottom .title,
#courses .cards .card>.bottom .instructor {
    margin: 0 0 1rem 0;
}

#courses .cards .card>.bottom .instructor span {
    padding: 0.1rem 0.5rem;
    font-size: 1rem;
    line-height: 2rem;
    border: var(--border-width) solid #000;
    border-radius: var(--border-radius);
    background-color: var(--color-accent);
    text-wrap: nowrap;
    cursor: pointer;
}

#courses .cards>.scroll-btn {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    cursor: pointer;
    display: grid;
    background-color: var(--color-btn);
    border: var(--border-width) solid #000000;
}

#courses .cards>.scroll-btn:hover {
    background-color: var(--color-btn-hover);
}

#courses .cards>.scroll-btn:hover img {
    filter: invert(1);
}

#courses .cards #courses-scroll-right {
    transform: scale(-1);
}

#courses .cards .scroll-btn img {
    width: 50%;
    place-self: center;
}

/* ============================ */
/* ==========Trending========== */
/* ============================ */

#trending {
    background-color: var(--color-bg);
    padding-top: 10rem;
}

#trending .content {
    width: 80%;
    height: 100%;
    margin: auto;
}

#trending>.content .heading h2 {
    font-size: 3rem;
}

#trending .content .cards {
    display: grid;
    place-content: center;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto;
    column-gap: 3rem;
    row-gap: 3rem;
    margin: 2rem 0;
    user-select: none;
}

#trending .content .cards .card {
    min-width: calc(max(20vw, 30rem));
    aspect-ratio: 1 / 1;
    border: var(--border-width) solid #000000;
    border-radius: var(--border-radius);
    overflow: hidden;
}

#trending .content .cards .card:hover {
    box-shadow: var(--shadow);
}

#trending .content .cards .card>.top {
    width: 100%;
    height: 50%;
}

#trending .content .cards .card>.top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#trending .content .cards .card>.bottom {
    width: 100%;
    height: 40%;
    padding: 1rem;
}

#trending .content .cards .card>.bottom .title {
    font-size: 2rem;
}

#trending .content .cards .card>.bottom .title,
#trending .content .cards .card>.bottom .instructor {
    margin: 0 0 1rem 0;
}

#trending .content .cards .card>.bottom .instructor span {
    padding: 0.1rem 0.5rem;
    font-size: 1rem;
    line-height: 2rem;
    border: var(--border-width) solid #000;
    border-radius: var(--border-radius);
    background-color: var(--color-accent);
    text-wrap: nowrap;
    cursor: pointer;
}

/* ============================ */
/* ==========Features========== */
/* ============================ */

#features {
    background-color: var(--color-bg);
    padding-top: 10rem;
}

#features .content {
    width: 80%;
    height: 100%;
    margin: auto;
}

#features>.content .top .heading h2 {
    font-size: 3rem;
}

#features>.content .bottom {
    display: flex;
    margin: 2rem 0;
}

#features>.content .bottom .left {
    width: 50%;
}

#features>.content .bottom .right {
    width: 50%;
}

#features>.content .bottom .left .feature {
    width: 75%;
    height: 5rem;
    padding: 1rem;
    border: var(--border-width) solid #000000;
    border-bottom: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#features>.content .bottom .left .feature:last-child {
    border: var(--border-width) solid #000000;
}

#features>.content .bottom .left .feature:hover {
    background-color: var(--color-btn-hover);
    color: #ffffff;
}

#features>.content .bottom .right>.description {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    text-align: justify;
}

/* ============================ */
/* ========Testimonials======== */
/* ============================ */

#testimonials {
    background-color: var(--color-bg);
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#testimonials .content {
    width: 80%;
    height: 100%;
    margin: auto;
}

#testimonials>.content .top .heading h2 {
    font-size: 3rem;
}

#testimonials>.content .bottom {
    display: flex;
    margin: 2rem 0;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

#testimonials>.content .bottom .testimonials {
    width: 85%;
    overflow: hidden;
}

#testimonials>.content .bottom .testimonials #testimonials-list {
    width: fit-content;
    display: flex;
    gap: 2rem;
    transition: transform 0.5s;
    margin: 1rem;
}

#testimonials>.content .bottom .testimonials .testimonial {
    min-width: 35rem;
    padding: 2rem;
    border: var(--border-width) solid #000000;
    border-radius: var(--border-radius);
    user-select: none;
}

#testimonials>.content .bottom .testimonials .testimonial:hover {
    box-shadow: var(--shadow);
}

#testimonials>.content .bottom .testimonials .testimonial .card-top {
    height: 80%;
    position: relative;
    z-index: 0;
}

#testimonials>.content .bottom .testimonials .testimonial .card-top #backdrop {
    position: absolute;
    top: -2rem;
    left: -2rem;
    z-index: -1;
}

#testimonials>.content .bottom .testimonials .testimonial .card-bottom {
    height: 30%;
    display: flex;
    align-items: center;
}

#testimonials>.content .bottom .testimonials .testimonial .card-bottom img {
    height: 3rem;
    margin: 0 1rem 0 0;
}

#testimonials .bottom>.scroll-btn {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: grid;
    cursor: pointer;
    background-color: var(--color-btn);
    border: var(--border-width) solid #000000;
}

#testimonials .bottom>.scroll-btn:hover {
    background-color: var(--color-btn-hover);
}

#testimonials .bottom>.scroll-btn:hover img {
    filter: invert(1);
}

#testimonials .bottom #testimonials-scroll-right {
    transform: scale(-1);
}

#testimonials .bottom .scroll-btn img {
    width: 50%;
    place-self: center;
}

/* ============================ */
/* ============Footer========== */
/* ============================ */

.footer {
    width: 100%;
    height: calc(min(20vh, 11rem));
    color: var(--text-color);
    background-color: var(--color-accent);
    position: sticky;
    top: 0;
    z-index: 10;
}

.footer .content {
    width: 80%;
    height: 100%;
    font-size: 1.5rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer .content .left ul,
.footer .content .right ul {
    list-style: none;
}
