/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:wght@600&family=Roboto+Mono&family=Roboto:wght@400..500&display=swap');

.logo {
    font-family: "Montserrat", "consolas" !important;
    font-optical-sizing: auto !important;
    font-weight: 900 !important;
    font-style: normal !important;
    color: #000000;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
}

a,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
}

p,
article,
span,
label
input,
textarea,
legend,
th,
td,
.lesson-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.5;
}


button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
}

button, a {
    cursor: pointer;
}

code,
pre {
    font-size: 1.5rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-style: normal;
}

pre {
    background-color: lightgrey;
    border-radius: var(--border-radius);
    padding: 1rem;
    font-size: 1.5rem;
}

/* Misc. Classes */
.link {
    color: inherit;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}
